//
//  Keys.xcconfig
//  timestone
//
//  Created by 조성빈 on 1/6/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

HOLIDAY_KEY = "n5rCYNXp0v5a%2Bc7JvyYebZxiQ4XqGouVtwgXujSz9g45Ho2svE2oLMbDxqOiEeDOh5IeR0uZUMxAQVsTl6hDXw%3D%3D"

